#action_bar {
  $item-height: $action-bar-height - ( $gutter * 2 );
  $font-size: 16px;
  $line-height: $font-size * 1.2;
  $item-padding: ( $item-height - $line-height ) / 2;

  z-index: 1000;
  position: fixed;
  padding: $gutter;
  min-height: $action-bar-height;
  top: 0;
  background: $bg-light-transparent;
  width: 100%;

  button, #status {
    font-size: $font-size;
    line-height: $line-height;
    padding-top: $item-padding;
    padding-bottom: $item-padding;
  }

  button {
    margin: 0 5px;
    float: left;
    padding-left: $item-padding * 2;
    padding-right: $item-padding * 2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  #status {
    margin-left: $gutter;
    color: $text-dark;
    font-style: italic;
    float: left;
    min-width: 300px;

    em {
      font-weight: bold;
      font-style: normal;
    }
  }

  #platform_selector {
    padding: $item-padding;
    float: right;
    min-width: 100px;
    font-size: $font-size;

    option {
      padding: $item-padding;
    }
  }
}