#action_bar {
  z-index: 1000;
  position: fixed;
  padding: $gutter;
  height: $action-bar-height;
  top: 0;
  background: $bg-light-transparent;
  width: 100%;

  button {
    padding: 3px 10px;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


#status {
  //line-height: $action-bar-height;
  margin-left: $gutter;
  color: $text-dark;
  font-style: italic;
  display: inline-block;

  em {
    font-weight: bold;
    font-style: normal;
  }
}