#games {
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
}

.game {
  list-style-type: none;
  margin: $gutter;
  width: 500px;
  min-height: 340px;
  background: $bg-light;
  color: $text-dark;
  cursor: pointer;
  font-size: 0; // LF issues

  img {
    width: 100%;
    margin-bottom: 0;
  }

  h3 {
    margin: 20px;
    font-size: 1.5rem;
  }

  dl {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: $gutter * 2;
    margin: 0;
    width: 100%;
    height: 100%;
    background: $bg-light-transparent;
    z-index: 2;
  }

  dt {
    text-transform: uppercase;
    font-size: 1rem;
  }

  dd {
    margin-bottom: $gutter;
    font-size: 1.3rem;
  }

  &:hover dl {
    display: block;
  }
}