#options {
  z-index: 1001;
  display: none;
  width: 460px;
  position: fixed;
  top: $action-bar-height + $gutter;
  left: $gutter;
  background: $bg-light-transparent;
  color: $text-dark;
}

.option {
  $width: 210px;
  $height: 30px;
  $item-width: ($width * .5) - $gutter;
  $padding: $gutter * 2;

  list-style-type: none;
  display: block;
  padding: $padding;
  float: left;
  width: $width + ($padding * 2);
  height: $height + ($padding * 2);

  &:after {
    clear: both;
  }

  &.with_select {
    width: $width * 2;
  }

  label {
    float: left;
    width: $item-width;
    margin-right: $gutter;
    text-align: right;
    line-height: $height;
  }

  input, select {
    float: left;
    margin-left: $gutter;
    width: $item-width;
    line-height: $height;
    height: $height;
    text-align: left;
  }

  input[type=text] {
    padding: 3px;
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
    $margin: ($height - 20px) * .5;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  select {
    padding: 3px;
    width: $item-width * 2;
    margin-left: $gutter;
  }
}
