module.exports = {
  server : {
    port : 8000
  },
  emulators : {
    fceux : {
      games : '/home/jdeerhake/Dropbox/Games/NES',
      binDir : '/opt/fceux/'
    },
    mupen64plus : {
      games : '/home/jdeerhake/Dropbox/Games/N64',
      binDir : '/opt/mupen64plus/'
    },
    snes9x : {
      games : '/home/jdeerhake/Dropbox/Games/SNES',
      binDir : '/opt/snes9x/'
    },
    vbam : {
      games : '/home/jdeerhake/Dropbox/Games/GBA',
      binDir : '/opt/vba-m/'
    }
  }
};