module.exports = {
  server : {
    port : 8000
  },
  emulators : {
    fceux : {
      gamesDir : ''
    },
    mupen64plus : {
      gamesDir : ''
    },
    snes9x : {
      gamesDir : ''
    },
    vbam : {
      gamesDir : ''
    },
    dolphin_ngc : {
      gamesDir : ''
    },
    dolphin_wii : {
      gamesDir : ''
    }
  }
};