<li class='option with_select' id='{{ name }}'>
  <label>{{ titlize name }}</label>
  <select>
      <option value=''></option>
    {{# vals }}
      <option value='{{ . }}'>{{ scrubLibName . }}</option>
    {{/ vals }}
  </select>
</li>